@use './shared/typography.scss';

html,
body {
  @include typography.typography-default;
  padding: 0;
  margin: 0;
  height: 100%;
}

.mainContainer {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
